.map-container {
  position: relative;
  width: 100%;
  height: 450px;
  margin-top: 50px;

  .leaflet-container {
    width: 100%;
    height: 100%;
  }

  .custom-marker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;

    .dot {
      width: 16px;
      height: 16px;
      background: #b45309;
      border-radius: 50%;
      position: relative;
      z-index: 2;
    }

    .ripple {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: rgba(180, 83, 9, 0.3);
      transform: translate(-50%, -50%) scale(0.5);
      animation: rippleAnim 2s infinite;
      z-index: 1;
    }

    .ripple.delay {
      animation-delay: 1s;
    }
  }
}

@keyframes rippleAnim {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0.8;
  }
  100% {
    transform: translate(-50%, -50%) scale(2.5);
    opacity: 0;
  }
}
