#Nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  transition: all 0.3s ease;

  &.scrolled {
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    animation: fadeDown 0.3s ease;
  }

  .NavMain {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 15px 0;
    justify-content: space-between;
    @media (max-width: 1024px) {
      width: 100%;
    }
    .NavLogo {
      width: 150px;
      @media (max-width: 480px) {
        width: 110px;
        height: 45px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .NavLink {
      ul {
        display: flex;
        align-items: center;
        gap: 15px;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          font-size: 16px;
          color: #fff;
          font-family: myFont1;
          font-weight: 500;
          cursor: pointer;
          transition: all 0.3s ease;
          padding: 8px 12px;
          position: relative;
          letter-spacing: 1px;
          a{
            text-decoration: none;
            color: inherit;
          }
          &::after {
            content: "";
            position: absolute;
            bottom: -2px;
            left: 50%;
            width: 0;
            height: 1px;
            transition: all 0.3s ease;
            transform: translateX(-50%);
            background: linear-gradient(180deg, #05ddff, #00bdfa, #003ffa);
          }

          &:hover {
            background: linear-gradient(180deg, #05ddff, #00bdfa, #003ffa);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            &::after {
              width: 100%;
            }
          }

          &.active {
            background: linear-gradient(180deg, #05ddff, #00bdfa, #008efa, #0069f7, #003ffa);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            &::after {
              width: 80%;
              background: linear-gradient(180deg, #05ddff, #00bdfa, #008efa, #0069f7, #003ffa);
            }
          }
        }
      }
      @media (max-width: 1024px) {
        display: none;
      }
    }
    .NavContact {
      display: flex;
      align-items: center;
      gap: 10px;
        a{
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 10px;
      p {
        font-size: 16px;
        color: #fff;
        font-family: myFont1;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.3s ease;
        padding: 8px 12px;
        letter-spacing: 1px;
        &:hover {
          background: linear-gradient(180deg, #05ddff, #00bdfa, #008efa, #0069f7, #003ffa);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        @media (max-width: 480px) {
          padding: 0px 0px;
          font-size: 15px;
        }
      }
      svg {
        color: #fff;
        display: none;
        @media (max-width: 1024px) {
          display: block;
        }
      }
      }

    }
  }
}

@keyframes fadeDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

//Side nav
#Sidenav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  transition: right 0.4s ease-in-out;
  z-index: 2000;

  &.open {
    right: 0;
  }

  .SidenavContent {
    position: relative;
    height: 100%;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;

    .closeIcon {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 32px;
      color: #fff;
      cursor: pointer;
      transition:
        transform 0.3s ease,
        color 0.3s ease;

      &:hover {
        transform: rotate(90deg) scale(1.1);
        background: linear-gradient(
          180deg,
          #05ddff,
          #00bdfa,
          #008efa,
          #0069f7,
          #003ffa
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 80px 0 0 0;
      display: flex;
      flex-direction: column;
      gap: 15px;

      li {
        font-size: 64px;
        font-family: myFont1;
        font-weight: 900;
        text-transform: uppercase;
        transition: transform 0.3s ease;
        cursor: pointer;

        a {
          text-decoration: none;
          color: #fff;
          transition: all 0.3s ease;

          &:hover {
            background: linear-gradient(
              180deg,
              #05ddff,
              #00bdfa,
              #008efa,
              #0069f7,
              #003ffa
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            letter-spacing: 1px;
          }
        }

        &:hover {
          transform: translateX(8px);
        }
      }
    }
  }
}


//Home Banner
#HomeBanner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .BannerMain {
    position: relative;
    width: 100%;
    height: 100%;

    .BannerVideo {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .BannerOverlay {
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.35);
      z-index: 1;
    }

    // Side Navigation
    .SideNav {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 3;
      .NavInner {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .NavText {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        transform: rotate(180deg);
        background: transparent;
        border: none;
        // color: #fff;
        background: linear-gradient(180deg, #05ddff, #00bdfa, #008efa, #0069f7, #003ffa);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: myFont1;
        font-size: 15px;
        letter-spacing: 2px;
        text-transform: uppercase;
        cursor: pointer;
        padding: 20px 0;
        transition: all 0.3s ease;
        opacity: 0.7;

        &:hover {
          opacity: 1;
        }
      }

      &.leftNav {
        left: 0;
        border-right: 1px solid rgba(238, 238, 238, 0.3);
        backdrop-filter: blur(2px);
      }

      &.rightNav {
        right: 0;
        border-left: 1px solid rgba(238, 238, 238, 0.3);
        backdrop-filter: blur(2px);
      }
      @media (max-width: 1024px) {
        display: none;
      }
    }

    .BannerContent {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: left;
      color: #fff;
      padding: 20px;
      max-width: 70%;
      width: 100%;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @media (max-width: 1024px) {
        padding: 20px 0px;
        max-width: 90%;
        margin-top: 50px;
      }
      @media (max-width: 1024px) {
        margin-top: 0px;
      }
      .SlideCounter {
        margin-bottom: 30px;
        @media (max-width: 1024px) {
          margin-bottom: 0px;
        }
        @media (max-width: 1024px) {
          margin-bottom: 30px;
        }
        .CurrentSlide {
          font-family: myFont1;
          font-size: 18px;
          font-weight: 600;
          color: #fff;
        }

        .TotalSlides {
          font-family: myFont1;
          font-size: 15px;
          font-weight: 500;
          color: #eee;
        }
      }

      .BannerTitle {
        font-family: myFont1;
        font-size: 85px;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 1px;
        color: #fff;
        margin-bottom: 30px;
        @media (max-width: 768px) {
          font-size: 64px;
        }
        @media (max-width: 480px) {
          font-size: 42px;
        }
      }

      .DanceBannerBox {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 100px;
        margin-bottom: 40px;

        .ArtsBox,
        .IndustryBox {
          p {
            font-family: myFont1;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 400;

            .fixed-color {
              color: #fff;
            }

            .change-color {
              color: #d5d5d5;
            }
          }
        }

        // For IndustryBox, we need to reverse the colors
        .IndustryBox {
          p {
            .fixed-color {
              color: #d5d5d5;
            }

            .change-color {
              color: #fff;
            }
          }
        }
      }

      .BannerContact {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .ContactBox {
          .lets-talk {
            font-family: myFont1;
            font-size: 15px;
            font-weight: 600;
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            position: relative;
            padding-bottom: 5px;

            .underline {
              position: absolute;
              bottom: 0;
              left: 0;
              width: 0;
              height: 2px;
              background: linear-gradient(180deg, #05ddff, #00bdfa, #008efa, #0069f7, #003ffa);
              transition: width 0.5s ease;
            }

            &:hover {
              background: linear-gradient(180deg, #05ddff, #00bdfa, #008efa, #0069f7, #003ffa);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              .underline {
                width: 100%;
              }
            }
          }
        }
        .SocialIconBox {
          display: flex;
          gap: 20px;

          a {
            position: relative;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            font-size: 18px;
            text-decoration: none;
            transition: all 0.3s ease;

            &::before {
              content: "";
              position: absolute;
              inset: 0;
              border-radius: 50%;
              padding: 1px;
              background: linear-gradient(180deg, #05ddff, #00bdfa, #008efa, #0069f7, #003ffa);
              -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
              -webkit-mask-composite: xor;
              mask-composite: exclude;
              z-index: 0;
            }

            svg {
              position: relative;
              z-index: 1;
              font-size: 20px;
              color: #05ddff;
              background: linear-gradient(180deg, #05ddff, #00bdfa, #008efa, #0069f7, #003ffa);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              transition: all 0.3s ease;
              display: block;
            }

            &:hover {
              transform: scale(1.1);

              &::before {
                filter: brightness(1.3);
              }

              svg {
                filter: drop-shadow(0 0 6px #00bdfa);
              }
            }
          }
        }
      }

      .SlideArrows {
        display: none;

        @media (max-width: 1024px) {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          margin-top: 40px;

          .Arrows {
            display: flex;
            align-items: center;

            .ArrowBtn {
              background: transparent;
              border: none;
              cursor: pointer;
              color: #fff;

              svg {
                font-size: 30px;
                transition: color 0.3s ease;
              }

              &:hover {
                color: var(--primaryColor);
              }
            }

            svg {
              font-size: 30px;
            }
          }
        }
      }
    }
  }
}

//Home About
#HomeAbout {
  padding: 100px 0;
  width: 100%;
  @media (max-width: 1024px) {
    padding: 80px 0;
  }
  @media (max-width: 768px) {
    padding: 60px 0;
  }
  @media (max-width: 480px) {
    padding: 30px 0;
  }

  .HomeAboutHead {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    h2 {
      font-size: 80px;
      font-weight: 600;
      font-family: myFont1;
      // color: #fff;
      background: linear-gradient(180deg, #05ddff, #00bdfa, #008efa, #0069f7, #003ffa);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @media (max-width: 1024px) {
        font-size: 60px;
      }
      @media (max-width: 768px) {
        font-size: 40px;
      }
      @media (max-width: 480px) {
        font-size: 30px;
      }
    }
  }

  .HomeAboutMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .HomeAboutSection {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 20px;
      padding-bottom: 40px;
      @media (max-width: 1024px) {
        flex-direction: column;
      }
      @media (max-width: 768px) {
        flex-direction: column;
      }
      @media (max-width: 480px) {
        flex-direction: column;
      }
      // Common Left
      .HomeAboutLeft {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .HomeAboutImg {
          width: 100%;
          height: 100%;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
          }
        }

        p {
          font-size: 16px;
          font-family: myFont1;
          font-weight: 500;
          line-height: 1.5;
          letter-spacing: 1px;
          color: #fff;
        }
      }

      // Common Right
      .HomeAboutRight {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .HomeAboutImg {
          width: 100%;
          height: 100%;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
          }
        }

        p {
          font-size: 16px;
          font-family: myFont1;
          font-weight: 500;
          line-height: 1.5;
          letter-spacing: 1px;
          color: #fff;
        }
      }
    }

    .HomeAboutSection1 {
      border-bottom: 2px solid transparent;
      border-image: linear-gradient(180deg, #05ddff, #00bdfa, #008efa, #0069f7, #003ffa) 1;

      .HomeAboutLeft {
        flex: 0 0 35%;
        border-right: 2px solid transparent;
        border-image: linear-gradient(180deg, #05ddff, #00bdfa, #008efa, #0069f7, #003ffa) 1;
        padding-right: 20px;
      }

      .HomeAboutRight {
        flex: 0 0 65%;
      }
    }

    /* Section 2 specific layout */
    .HomeAboutSection2 {
      .HomeAboutLeft {
        flex: 0 0 65%;
      }

      .HomeAboutRight {
        flex: 0 0 35%;
        border-left: 2px solid transparent;
        border-image: linear-gradient(180deg, #05ddff, #00bdfa, #008efa, #0069f7, #003ffa) 1;
        padding-left: 20px;
      }
    }
  }

  /* Fade-right animation (for Section 1 right side) */
  .fade-right {
    opacity: 0;
    transform: translateX(100px);
    transition: all 0.8s ease;

    &.visible {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* Fade-left animation (for Section 2 left side) */
  .fade-left {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 0.8s ease;

    &.visible {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

//HomeService
#HomeService {
  padding: 100px 0;
  background: #000;
  @media (max-width: 1024px) {
    padding: 80px 0;
  }
  @media (max-width: 768px) {
    padding: 60px 0;
  }
  @media (max-width: 480px) {
    padding: 30px 0;
  }
  //   .HomeServiceHead {
  //     width: 100%;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     margin-bottom: 50px;
  //     h2 {
  //       // color: white;
  //       font-size: 80px;
  //       text-align: center;
  //       margin-bottom: 50px;
  //       font-family: myFont1;
  //       background: linear-gradient(180deg, #05ddff, #00bdfa, #008efa, #0069f7, #003ffa);
  //       -webkit-background-clip: text;
  //       -webkit-text-fill-color: transparent;
  //       @media (max-width: 1024px) {
  //         font-size: 60px;
  //       }
  //       @media (max-width: 768px) {
  //         font-size: 40px;
  //       }
  //       @media (max-width: 480px) {
  //         font-size: 30px;
  //       }
  //     }
  //     .gradient-text {
  //   background: linear-gradient(
  //     180deg,
  //     #05ddff,
  //     #00bdfa,
  //     #008efa,
  //     #0069f7,
  //     #003ffa
  //   );
  //   -webkit-background-clip: text;
  //   -webkit-text-fill-color: transparent;
  // }

  //   }
  .HomeServiceHead {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

    h2 {
      font-size: 80px;
      text-align: center;
      margin-bottom: 50px;
      font-family: myFont1;
      background: linear-gradient(180deg, #05ddff, #00bdfa, #008efa, #0069f7, #003ffa);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @media (max-width: 1024px) {
        font-size: 60px;
        margin-bottom: 0px;
      }
      @media (max-width: 768px) {
        font-size: 40px;
        margin-bottom: 0px;
      }
      @media (max-width: 480px) {
        font-size: 30px;
        margin-bottom: 0px;
      }
    }
  }

  .gradient-text {
    background: linear-gradient(180deg, #05ddff, #00bdfa, #008efa, #0069f7, #003ffa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .HomeServiceMain {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .ServiceBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    cursor: pointer;
    position: relative;
  }

  .ServiceBoxLeft {
    width: calc(100% - 320px);
    display: flex;
    align-items: center;
    gap: 40px;
    min-height: 80px;

    @media (max-width: 1024px) {
      width: calc(100% - 260px);
      gap: 10px;
    }
    @media (max-width: 768px) {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
    }

    h2 {
      width: 35%;
      font-size: 36px;
      transition: 0.3s;
      @media (max-width: 768px) {
        width: 100%;
        font-size: 26px;
      }
    }
    p {
      width: 60%;
      font-size: 16px;
      max-width: 60%;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      transition: 0.3s;
        @media (max-width: 768px) {
        width: 100%;
        font-size: 15px;
        max-width: 100%;
        -webkit-line-clamp: inherit;
        -webkit-box-orient: inherit;
      }
    }
  }
  .ServiceImgBox {
    position: absolute;
    right: 150px;
    width: 150px;
    height: 150px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; // not interactive
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.6);
    background: #111;
    z-index: 6;
    display: none;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      // display: block;
      transform-origin: center center;
    }

    @media (max-width: 1024px) {
      // width: 220px;
      // height: 220px;
      // right: -30px;
      display: none;
    }
    @media (min-width: 769px) {
      display: block;
    }
  }

  .ServiceIconBox {
    width: 45px;
    height: 45px;
    border: 1px solid #555;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555;
    transition: 0.3s;
   @media (max-width: 768px) {
       display: none;
      }
    .icon-hover {
      display: none;
    }

    &:hover {
      // background: white;
      color: black;
    }
  }

  .ServiceBox:hover .icon-hover {
    display: block;
  }
  .ServiceBox:hover .icon-default {
    display: none;
  }
}

//HomeWork
#HomeWork {
  position: relative;
  width: 100%;
  // height: 100vh;
  overflow: hidden;
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 40px;
  @media (max-width: 1024px) {
    padding: 0px 0px;
    //  height: 0;
  }
  .HomeWorkHead {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    @media (max-width: 1024px) {
      margin-bottom: 0px;
    }
    h2 {
      font-size: 80px;
      text-align: center;
      font-family: myFont1;
      background: linear-gradient(180deg, #05ddff, #00bdfa, #008efa, #0069f7, #003ffa);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @media (max-width: 1024px) {
        font-size: 60px;
      }
      @media (max-width: 768px) {
        font-size: 40px;
      }
      @media (max-width: 480px) {
        font-size: 30px;
      }
    }
  }

  /* Horizontal GSAP scroll on desktop */
  .HomeWorkScroll {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 50px;
    padding: 0;
    margin: 0;
    will-change: transform;

    /* Responsive - switch to manual horizontal scroll */
    @media (max-width: 1024px) {
      overflow-x: auto;
      overflow-y: hidden;
      display: flex;
      gap: 20px;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      height: auto;
      padding: 40px 20px;
      cursor: grab;

      // &::-webkit-scrollbar {
      //   height: 6px;
      // }

      // &::-webkit-scrollbar-thumb {
      //   background: linear-gradient(90deg, #05ddff, #0069f7);
      //   border-radius: 10px;
      // }

      // &::-webkit-scrollbar-track {
      //   background: #111;
      // }
    }
  }

  .HomeWorkCard {
    flex: 0 0 35vw;
    min-width: 340px;
    height: 70vh;
    background: #111;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    transition:
      transform 0.4s ease,
      box-shadow 0.4s ease;

    // &:hover {
    //   transform: translateY(-8px);
    //   box-shadow: 0 0 25px rgba(0, 191, 255, 0.2);
    // }

    @media (max-width: 1024px) {
      flex: 0 0 70%;
      height: 60vh;
    }

    @media (max-width: 768px) {
      flex: 0 0 85%;
      height: 55vh;
    }

    @media (max-width: 480px) {
      flex: 0 0 90%;
      height: 50vh;
    }

    .HomeWorkImgBox {
      position: relative;
      width: 100%;
      height: 60%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s ease;
      }

      &:hover img {
        transform: scale(1.1);
      }
    }

    .HomeWorkDetails {
      height: 40%;
      padding: 20px 25px;
      background: #0c0c0c;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h3 {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 8px;
        font-family: myFont1;
      }

      p {
        font-size: 15px;
        opacity: 0.85;
        line-height: 1.4;
      }

      .viewButton {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 18px;
        font-weight: 500;
        color: #05ddff;
        cursor: pointer;
        transition: color 0.3s;
        justify-content: flex-start;

        svg {
          font-size: 22px;
          transition: transform 0.3s;
        }

        &:hover svg {
          transform: rotate(45deg);
        }
      }
    }
  }
}

//Contact
#HomeContact {
  padding: 100px 0;
  width: 100%;
  @media (max-width: 1024px) {
    padding: 80px 0;
  }
  @media (max-width: 768px) {
    padding: 60px 0;
  }
  @media (max-width: 480px) {
    padding: 30px 0;
  }
  .HomeContactHead {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

    h2 {
      font-size: 80px;
      font-weight: 600;
      font-family: myFont1;
      background: linear-gradient(180deg, #05ddff, #00bdfa, #008efa, #0069f7, #003ffa);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;
      @media (max-width: 1024px) {
        font-size: 60px;
      }
      @media (max-width: 768px) {
        font-size: 40px;
      }
      @media (max-width: 480px) {
        font-size: 30px;
      }
    }
  }

  .HomeContactMain {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    @media (max-width: 1024px) {
      flex-direction: column;
    }
    @media (max-width: 768px) {
      flex-direction: column;
    }
    @media (max-width: 480px) {
      flex-direction: column;
    }
    .HomeContactLeft {
      width: 48%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @media (max-width: 1024px) {
        width: 100%;
      }
      @media (max-width: 768px) {
        width: 100%;
      }
      @media (max-width: 480px) {
        width: 100%;
      }
      .HomeContactTitle {
        width: 100%;
        margin-bottom: 20px;

        p {
          font-size: 32px;
          color: #eee;
          font-family: myFont1;
          font-weight: 500;
          line-height: 1.5;
        }
      }

      .HomeContactDec {
        width: 100%;
        margin-bottom: 20px;

        p {
          color: #eee;
          font-size: 16px;
          font-family: myFont1;
          font-weight: 500;
        }
      }

      .HomeContactAdressBox {
        width: 100%;
        margin-bottom: 20px;

        .AdressBox {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 30px;
          margin-bottom: 15px;

          .Iconbox {
            font-size: 18px;
            svg {
              position: relative;
              z-index: 1;
              font-size: 20px;
              color: #05ddff;
              background: linear-gradient(180deg, #05ddff, #00bdfa, #008efa, #0069f7, #003ffa);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              transition: all 0.3s ease;
              display: block;
            }
          }

          .TextBox {
            a {
              text-decoration: none;
              color: #fff;
              p {
                color: #eee;
                font-size: 18px;
                font-weight: 400;
                font-family: myFont1;
              }
            }
          }
        }
      }
    }

    .HomeContactRight {
      width: 48%;
      @media (max-width: 1024px) {
        width: 100%;
      }
      @media (max-width: 768px) {
        width: 100%;
      }
      @media (max-width: 480px) {
        width: 100%;
      }
      .ContactForm {
        form {
          display: flex;
          flex-wrap: wrap;
          gap: 20px;

          .ContactField {
            width: calc(50% - 10px);
            position: relative;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #797979;
            transition: border-color 0.3s ease;
            margin-bottom: 20px;
            @media (max-width: 768px) {
              width: 100%;
            }

            &:nth-child(5) {
              width: 100%;
              align-items: flex-start;
            }

            .fieldIcon {
              color: #05ddff;
              margin-right: 10px;
              font-size: 18px;
              flex-shrink: 0;
            }

            input,
            textarea {
              flex: 1;
              background: none;
              border: none;
              outline: none;
              font-size: 16px;
              font-weight: 400;
              font-family: myFont1;
              color: #fff;
              padding: 10px 0;

              &::placeholder {
                color: #fff;
              }
            }

            textarea {
              min-height: 100px;
              resize: none;
            }

            &:hover,
            &:focus-within {
              border-color: #fff;
            }

            &.error {
              border-color: red;

              .errorText {
                position: absolute;
                bottom: -27px;
                left: 0;
                font-size: 13px;
                color: red;
                font-family: myFont1;
                font-weight: 400;
              }
            }
          }
          .textareaField {
            width: 100%;
            align-items: flex-start;
            border-bottom: 1px solid #797979;
            transition: border-color 0.3s ease;
            position: relative;
            display: flex;
            gap: 10px;

            .fieldIcon {
              color: #05ddff;
              font-size: 18px;
              margin-top: 12px;
            }

            textarea {
              flex: 1;
              background: none;
              border: none;
              outline: none;
              font-size: 16px;
              font-weight: 400;
              font-family: myFont1;
              color: #fff;
              padding: 10px 0;
              resize: none;
              min-height: 100px;

              &::placeholder {
                color: #fff;
              }
            }

            &:hover,
            &:focus-within {
              border-color: #fff;
            }
          }
          .selectField {
            position: relative;
            .customSelect {
              position: relative;
              width: 100%;
              padding: 10px 30px 10px 0;
              font-size: 16px;
              font-weight: 400;
              font-family: myFont1;
              color: #fff;
              cursor: pointer;
              border-bottom: 1px solid #797979;
              display: flex;
              align-items: center;
              justify-content: space-between;
              transition: border-color 0.3s ease;

              &:hover,
              &.open {
                border-color: #fff;
              }

              .selectedOption {
                flex: 1;
                color: #fff;
                text-transform: capitalize;
              }

              .selectArrow {
                font-size: 20px;
                transition: transform 0.3s ease;
                color: #05ddff;
                // background: linear-gradient(180deg, #05ddff, #00bdfa, #008efa, #0069f7, #003ffa);
                // -webkit-background-clip: text;
                // -webkit-text-fill-color: transparent;
              }

              &.open .selectArrow {
                transform: rotate(180deg);
              }

              .dropdownMenu {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                background: #000;
                border: 1px solid rgba(255, 255, 255, 0.1);
                border-radius: 6px;
                margin-top: 8px;
                list-style: none;
                padding: 5px 0;
                z-index: 10;
                box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
                animation: fadeIn 0.3s ease forwards;

                li {
                  padding: 10px 15px;
                  font-size: 15px;
                  font-family: myFont1;
                  color: #d5d5d5;
                  transition: all 0.3s ease;
                  text-transform: capitalize;

                  &:hover {
                    background: linear-gradient(180deg, #05ddff, #00bdfa, #008efa, #0069f7, #003ffa);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    padding-left: 20px;
                  }
                }
              }
            }

            @keyframes fadeIn {
              from {
                opacity: 0;
                transform: translateY(-5px);
              }
              to {
                opacity: 1;
                transform: translateY(0);
              }
            }
          }
          .ContactBtn {
            width: 100%;

            button {
              position: relative;
              background: #000;
              border: none;
              outline: none;
              padding: 12px 20px;
              display: flex;
              align-items: center;
              gap: 10px;
              cursor: pointer;
              transition: all 0.3s ease;
              overflow: hidden;
              z-index: 1;

              &::before {
                content: "";
                position: absolute;
                inset: 0;
                padding: 1px;
                background: linear-gradient(180deg, #05ddff, #00bdfa, #008efa, #0069f7, #003ffa);
                -webkit-mask:
                  linear-gradient(#fff 0 0) content-box,
                  linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
                z-index: 0;
              }

              svg {
                color: #05ddff;
                font-size: 20px;
                position: relative;
                z-index: 1;
              }

              p {
                font-size: 16px;
                font-weight: 400;
                font-family: myFont1;
                text-transform: capitalize;
                position: relative;
                z-index: 1;
                background: linear-gradient(180deg, #05ddff, #00bdfa, #008efa, #0069f7, #003ffa);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }

              &:hover {
                transform: scale(1.05);
                &::before {
                  filter: brightness(1.3);
                }
              }
            }
          }
        }
      }
    }
  }
  .ContactMap {
    width: 100%;
    height: 450px;
    margin-top: 50px;
    iframe {
      width: 100%;
      height: 100%;
      border: 0;
      display: block;
    }
  }
}

//Footer
#Footer {
  width: 100%;
  background-color: #000;

  .FooterMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
  }

  .FooterSection1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
    padding-bottom: 40px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background: linear-gradient(90deg, #05ddff, #00bdfa, #008efa, #0069f7, #003ffa);
    }

    .FooterShortTitle p {
      font-size: 15px;
      font-family: myFont1;
      font-weight: 500;
      color: #797979;
      text-transform: uppercase;
      margin-bottom: 15px;
    }

    .FooterMainTitle p {
      font-size: 22px;
      font-family: myFont1;
      font-weight: 600;
      text-transform: capitalize;
      margin-bottom: 20px;
      background: linear-gradient(180deg, #05ddff, #00bdfa, #008efa, #0069f7, #003ffa);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .FooterDec {
      max-width: 600px;
      margin-bottom: 30px;

      p {
        font-size: 15px;
        font-family: myFont1;
        font-weight: 400;
        color: #797979;
        text-transform: none;
        line-height: 1.6;
      }
    }

    .FooterContact {
      margin-bottom: 40px;

      button {
        background: none;
        border: 1px solid var(--primaryColor) !important;
        outline: none;
        color: var(--primaryColor);
        padding: 12px 30px;
        font-size: 16px;
        font-family: myFont1;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          border-color: var(--primaryColor) !important;
          color: var(--primaryColor);
        }
      }
    }

    .FooterCopyright p {
      font-size: 14px;
      font-family: myFont1;
      font-weight: 400;
      color: #797979;
    }
  }

  .FooterSection2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .FooterLogo {
      width: 150px;

      img {
        width: 100%;
        height: 100%;
      }
    }
    .FooterSocialIcon {
      display: flex;
      align-items: center;
      gap: 20px;

      a {
        position: relative;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        text-decoration: none;
        transition: all 0.3s ease;
        // overflow: hidden;

        &::before {
          content: "";
          position: absolute;
          inset: 0;
          border-radius: 50%;
          padding: 1px;
          background: linear-gradient(180deg, #05ddff, #00bdfa, #008efa, #0069f7, #003ffa);
          -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
          -webkit-mask-composite: xor;
          mask-composite: exclude;
          z-index: 0;
        }

        svg {
          position: relative;
          z-index: 1;
          font-size: 20px;
          color: #05ddff;
          background: linear-gradient(180deg, #05ddff, #00bdfa, #008efa, #0069f7, #003ffa);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          transition: all 0.3s ease;
          display: block;
        }

        &:hover {
          transform: scale(1.1);

          &::before {
            filter: brightness(1.3);
          }

          svg {
            filter: drop-shadow(0 0 6px #00bdfa);
          }
        }
      }
    }
  }
}

.cursor-outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid transparent;
  background: transparent;
  background-origin: border-box;
  background-clip: border-box;
  @media(max-width:1024px){
    display: none;
  }
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: 50%;
    background: linear-gradient(180deg, #05ddff, #00bdfa, #008efa, #0069f7, #003ffa);
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }

  transition:
    background-color 0.3s,
    transform 0.3s;
}
.cursor-text {
  position: relative;
  text-align: center;
  font-size: 5px;
  font-weight: 600;
  color: #000;
  background: transparent;
  pointer-events: none;
  opacity: 0;
  line-height: 1.2;
  transition: opacity 0.3s ease;
  @media(max-width:1024px){
  display: none;
}
}
.cursor-inner {
  position: fixed;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  background: linear-gradient(180deg, #05ddff, #00bdfa, #008efa, #0069f7, #003ffa);
  border-radius: 50%;
  pointer-events: none;
  z-index: 10000;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s;
  @media(max-width:1024px){
  display: none;
}
}

.scroll-whatsapp-container {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 10000;

  button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    // WhatsApp green default
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 24px;
    transition:
      transform 0.3s,
      background-color 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #25d366; // WhatsApp green default
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 24px;
    transition:
      transform 0.3s,
      background-color 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

  .scroll-top-btn {
    border: 1px solid #d5d5d5;
    border-radius: 100%;
    color: #fff;
    background: none;
    &:hover {
      background-color: #333;
    }
  }

  .whatsapp-btn {
    background-color: #25d366;
  }
}
